extends layout

block content
    div#home
        div.landing-txt
          h1 WE ARE PROUD
          h3 Students of VIIT
          a.btn.btn-outline-warning(href='#mission') Our Story
    div.padding.container1 
        div.container#mission 
          div.row 
            div.col-sm-6
              img(src='../static/img/courosel_5.jpg')
            div.col-sm-6.text-center
              h2 Our Mission
              p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. In laborum voluptas esse vero natus voluptates officia, ad aliquid aut dicta a, autem, quibusdam provident! Ex fuga perspiciatis adipisci cumque neque!
              p.lead Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus recusandae amet cupiditate vel minima, inventore praesentium, voluptatem pariatur maiores obcaecati quidem repellat eius, quis cum! Officia veritatis iste ab! Atque?
    h1.text-center Our Responsibility
    div.padding.container2
        div.container
          div.row
            div.col-lg-3.col-md-3.col-sm-6.col-xs-12.con2
              img.img-responsive.img-responsibility(href="#" src="../static/img/help.png")
              h4 Help Current Students
              p De create building thinking about your requirment and latest treand on our marketplace area.    
            div.col-lg-3.col-md-3.col-sm-6.col-xs-12.con2
             img.img-responsive.img-responsibility(href="#" src="../static/img/res1.png")
             h4 Help our university
             p De create building thinking about your requirment and latest treand on our marketplace area
            div.col-lg-3.col-md-3.col-sm-6.col-xs-12
              img.img-responsive.img-responsibility(href="#" src="../static/img/res3.png")
              h4 Scholarship 
              pStudy hard what interests you the most in the most undisciplined, irreverent and original manner possible 
            div.col-lg-3.col-md-3.col-sm-6.col-xs-12
             img.img-responsive.img-responsibility(href="#" src="../static/img/res2.png")
             h4 Build our Comunity
             p The greatness of a community is most accurately measured by the compassionate actions of its members
    div#fixed
        div
    div.padding.container3 
        div.container 
          div.row 
            div.col-sm-6.text-center
              h4 Here is the thing about bootstrap
              p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. In laborum voluptas esse vero natus voluptates officia, ad aliquid aut dicta a, autem, quibusdam provident! Ex fuga perspiciatis adipisci cumque neque!
              p.lead Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus recusandae amet cupiditate vel minima, inventore praesentium, voluptatem pariatur maiores obcaecati quidem repellat eius, quis cum! Officia veritatis iste ab! Atque?
            div.col-sm-6
              img(src='../static/img/courosel_5.jpg')