extends layout

block content
    .container
        h1 Enter Your Details
        form.form(method="POST",action='/users/register')
            .form-group
                label(for='exampleInputname') Name
                input#exampleInputname.form-control(name='name',type='text')
            .form-group
                label(for='exampleInputEmail1') Email
                input#exampleInputEmail1.form-control(name='email',type='email')
            .form-group
                label(for='exampleInputusername') Username
                input#exampleInputusername.form-control(name='username',type='text')
            .form-group
                label(for='exampleInputPassword1') Password
                input#exampleInputPassword1.form-control(name='password',type='password')
            .form-group
                label(for='exampleInputPassword2') Repeat Passord
                input#exampleInputPassword2.form-control(name='password2',type='password')
            button.btn.btn-primary(type='submit',value='submit') Submit
    

