
* {
    padding: 0px;
    margin: 0px;
}
html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Baloo Tammudu 2', cursive;
}
.navbar-brand img {
    height: 50px;
    padding-bottom: 6px;
}

.navbar {
    background-color: #23415C;
    font-size: 1.2rem;
}

/* 
.navbar-light .navbar-nav .nav-link {
    color: #d5d5d5;
} */
.navbar-light .navbar-nav .nav-link {
    color: #d5d5d5;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    /* color: rgba(0, 0, 0, 0.9); */
    color: #d5d5d5;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active:hover {
    
    color: #ffffff
}

.nav-item.dropdown a{
    color: black;
}
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a.active {
    /* color: #ffffff; */
    color: black;
}